h1{text-align: center;
margin-top: 15px;
}
.top{
    text-align: center;
    border: 2px solid red;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
}
h2{
    text-align: center;}
.text-area{
    text-align: center;
}
.button{
    text-align: center;
}
#cl{margin-left: 20px;}









